<html>
<head>
	<title><%= Title%></title>
</head>
<script src="../public/js/jquery.js"></script>
<script src="../public/js/jquery.validate.js"></script>
<script src="../public/js/toastr.min.js"></script>
<script src="../public/js/front.js"></script>
<link rel="stylesheet" href="../public/css/w3.css">
<link rel="stylesheet" href="../public/css/front.css">
<link rel="stylesheet" href="../public/css/toastr.min.css">
<link rel="stylesheet" href="../public/css/floatDiv.css">
	<% CSSs.forEach(function(CSS){ %>
<link rel="stylesheet" href= <%= CSS.url%>>
	<%});%>
	<% JavaScripts.forEach(function(JavaScript){ %>
<script src=<%= JavaScript.url%>></script>
	<%});%>
<body>
	<div class="float_box" id="float_box_login">
		<div class="float_box_top"></div>
		<form id="form_login">
			<div class="float_box_text1">
				會員帳號：
				<input class="float_box_input" name="m_login_account" value="" type="text">
			</div>
			<div class="float_box_text2">
				密碼：
				<input class="float_box_input" name="m_login_password" type="password">
			</div>
			<div class="clear"></div>
			<div class="small_button">
				<button type="button" class="button_blue" style="margin-right:10px" onclick="onclick="hideFloatBox();showForgetPasswordBox();">忘記密碼?</button>
				<button type="button" class="button_blue" style="margin-left:10px" onclick="hideFloatBox();showRegisterBox();">註冊</button>
			</div>
			<div class="all_button">
				<button type="button" class="button_red" onclick="SendLoginData()">確認送出</button>
			</div>
		</form>
        <div class="float_box_bottom"></div>
	</div>
	<div class="float_box" id="float_box_register">
		<div class="float_box_top"></div>
		<form id="form_register">
			<div class="float_box_text1">
				帳號：
				<input class="float_box_input" name="m_register_account" value="" type="text">
			</div>
			<div class="float_box_text3">
				密碼：
				<input class="float_box_input" name="m_register_password" type="password">
			</div>
			<div class="float_box_text3">
				確認密碼：
				<input class="float_box_input" name="m_register_password_check" type="password">
			</div>
			<div class="float_box_text3">
				信箱：
				<input class="float_box_input" name="m_register_mail" type="text">
			</div>
			<div class="float_box_text3">
				姓名：
				<input class="float_box_input" name="m_register_name" type="text">
			</div>
			<!--<div class="float_box_text3">-->
			<!--	非機器人認證：-->
			<!--	<input  class="float_box_input" name="m_usercheck" type="text">-->
			<!--</div>-->
			<div class="float_box_text3">
				使用條例：
				<iframe class="float_box_usetext" src="../public/html/rule.html" height:"300px"frameborder="0" scrolling="auto"></iframe>
			</div>
			<div class="float_box_text3">
				我同意使用條例的規範:
				<input class="float_box_input" name="m_register_yes" type="checkbox">
			</div>
			<div class="clear"></div>
			<div class="all_button">
				<button type="button" class="button_red" onclick="SendRegisterData()">確認送出</button>
			</div>
		</form>
		<div class="float_box_bottom"></div>
	</div>
	<div class="float_box"id="float_box_success">
		<div class="float_box_top"></div>
		<h1 id="success_float_text"></h1>
		<button type="button" class="button_red" onclick="hideFloatBox()">確認</button>
		<div class="float_box_bottom"></div>
	</div>
	<div class="float_box" id="float_box_forget">
		<div class="float_box_top"></div>
		<form id="form_forget_password">
			<div class="float_box_text1">
				請輸入會員帳號：
				<input class="float_box_input" name="m_forget_password_account" value="" type="text">
			</div>
			<div class="float_box_text1">
				請輸入會員信箱：
				<input class="float_box_input" name="m_forget_password_mail" value="" type="text">
			</div>
			<!--<div class="float_box_text3">-->
			<!--	非機器人認證：-->
			<!--	<input  class="float_box_input" name="m_usercheck" type="text">-->
			<!--</div>-->
			<div class="clear"></div>
			<div class="all_button">
				<button type="button" class="button_red" onclick="SendForgetPassword()">確認送出</button>
			</div>
		</form>
		<div class="float_box_bottom"></div>
	</div>
	<div class="float_box_bg" onclick="hideFloatBox()"></div>
	<div id="wrap_top">
		<div id="logopic">
			<a href="/front"><img src="../public/images/logo.png"></a>
		</div>
		<ul>
			<li><a href="/front/info">公司簡介</a></li>
			<li>最新消息</li>
			<li><a href="/front/productList">產品列表</a></li>
			<li><a href="/front/patent">產品專利</a></li>
			<li><a href="/front/process">購物流程</a></li>
			<li><a href="/front/contact">聯繫方式</a></li>
		</ul>
		<div id="member">
			<% if(!Login){%>
			<span id="login" onclick="showLoginBox()"><a>登入</a></span>
			<span id="register" onclick="showRegisterBox()"><a>註冊</a></span>
			<% }else{ %>
			<span id="logout" onclick="Logout()"><a>登出</a></span>
			<% } %>
		</div>
		<div class="clear"></div>
	</div>
	<div id="wrap_top_hide"></div>
	<div id="side_member">
		<% if(!Login){%>
		<a onclick="showLoginBox()">
			<% }else{ %>
			<a href="/member">
				<% } %>
				<img src="../public/images/member.png">
			</a>
	</div>
	<div id="side">
		<a href="">
			<img src="../public/images/shop.png">
		</a>
	</div>
	<% Include.forEach(function(IObject){%>
	<%- include(IObject.url,{value:IObject.value})%>
	<%});%>
</body>
<div class="clear"></div>
<div id="white_box"></div>
<div id="footer">
	<div class="footer_text1">
		地址：<%= Value.address%><br>
		電話：<%= Value.phone%> 　傳真：<%= Value.fax%>
	</div>
	<div class="footer_text2">
		<span class="service_tele">消費者服務專線：<%= Value.ConsumerLine%></span><br>
		<span class="service_mail">信箱：<a href="mailto:<%= Value.mail%>"><%= Value.mail%></a></span>
	</div>
	<div class="clear"></div>
</div>
	<% Script.forEach(function(SObject){%>
		<%- include(SObject.url,{value:SObject.value})%>
	<%});%>

<script>
	$("#form_login").keypress(function (e) {
		if (e.which == 13) {
			SendLoginData();
		}
	});
	$("#form_register").keypress(function (e) {
		if (e.which == 13) {
			SendRegisterData();
		}
	});
	$("#side").mouseover(function () {
		$("#side img").attr("src", "../public/images/shop_hover.png");
	});
	$("#side").mouseout(function () {
		$("#side img").attr("src", "../public/images/shop.png");
	});
	$("#side_member").mouseover(function () {
		$("#side_member img").attr("src", "../public/images/member_hover.png");
	});
	$("#side_member").mouseout(function () {
		$("#side_member img").attr("src", "../public/images/member.png");
	});

</script>
</html>

