標題:<input type="text" id="news_title" value="<%= value.title%>"/><br/>
類型:<select id="news_type">
    <option value="1">公告</option>
    <option value="2">新聞</option>
    <option value="3">活動</option>
</select><br/>
<textarea id="editer_area"></textarea>
<button onclick="outHtml()">輸出</button><br />
<button onclick="preview()">預覽</button><br />
<script>
    $(document).ready(function(){
        $("#editer_area").html("<%= value.html%>");
        var type = '<%= value.type%>' == '' ? 1 : parseInt('<%= value.type%>');
        $("#news_type").val(type).change();
        editerInit();
    });
    function editerInit(){
        tinymce.init({
            selector: 'textarea',
            height: 500,
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table contextmenu paste code'
            ],
            automatic_uploads: true,
            images_upload_url: '/member/news/uploadNewsImage',
            file_picker_types: 'image', 
            file_picker_callback: function(cb, value, meta) {
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');
                input.onchange = function() {
                    var file = this.files[0];
                    var id = 'blobid' + (new Date()).getTime();
                    var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                    var blobInfo = blobCache.create(id, file);
                    blobCache.add(blobInfo);
                    cb(blobInfo.blobUri(), { title: file.name });
                };
                input.click();
            },
            resize: false,
            language: 'zh_TW',
            toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            content_css: '//www.tinymce.com/css/codepen.min.css'
        });
    }
    function preview() {
        var html = encodeURIComponent(encodeURIComponent(tinymce.activeEditor.getContent()));
        console.log(html);
        location.href = "./preview?title=" + $("#news_title").val()
            + "&type=" + $("#news_type option:selected").val()
            + "&html=" + html
            + "&action=<%= value.action%>";
    }
    
</script>