<h3>News-<span>最新消息</span></h3>
    <hr class="hr0" />
    <a href="./news?list=1">公告</a>    <a href="./news?list=2">商品</a>    <a href="./news?list=3">活動</a>
    <hr class="hr0" />
    <% if(value.news!=null){ %>
        <div id="news_detail_body"></div>
    <% } %>
    <% if(value.list!=null){ %>
        <section class="news_list">
            <ul class="word_size" id="news_list_body"></ul>
        </section>
    <% } %>
    
<script>
    <%  if(value.news!=null){ %>
            $("#news_detail_body").html(decodeURIComponent('<%= value.news.html %>'));
    <%  } %>
    <%  if(value.list!=null){ %>
            $(".news_list").css("display","block");
            $("#news_list_body").empty();
            <% value.list.forEach(function(news,index){ %>
                var newsLi = jQuery('<li/>', {
                    class: (<%= index%2 %> == 0) ? "bg_grey" : ""
                });
                var newsA = jQuery('<a/>', {
                    href:"./news?NO="+'<%= news.NO%>',
                    text: '<%= news.Title%>'
                });
                jQuery('<strong/>', {
                    text: '<%= news.Date%>'
                }).appendTo(newsA);
                newsLi.append(newsA);
                $("#news_list_body").prepend(newsLi);
            <% }); %>
    <%  } %>
</script>